* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background: url(../assets/Fundo.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
}

body * {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  height: 130px;
}

header div {
  display: flex;
  width: 130px;
  margin: auto;
  padding: 4px;
  background: linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
  border-radius: 50%;
  transition: 0.3s;
}

header div:hover {
  transform: scale(1.1);
}

header img {
  width: 100%;
  border-radius: 50%;
}

main {
  width: 90%;
  max-width: 580px;
  margin: 32px auto;
  display: grid;
  gap: 24px;
  margin-top: 32px;
}

section {
  padding-top: 4px;
  border-radius: 10px;
  background: linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
  color: #ffffff;
}

section div {
  padding: 24px 32px 32px 32px;
  border-radius: 8px;
  background-color: #2a2634;
}

section h2 {
  letter-spacing: -0.47px;
}

section p {
  letter-spacing: -0.18px;
  color: #a1a1aa;
}

section ul {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 24px;
}

.games-list img {
  width: 90px;
  border-radius: 8px;
  transition: 0.2s;
}

.channel-list img {
  border-radius: 50%;
  width: 70px;
  transition: 0.2s;
  border: 1px solid #443e54;
}

.socila-list a {
  transition: 0.3s;
}

.socila-list :nth-child(2):hover {
  filter: drop-shadow(0px 0px 2px #a713c5) brightness(1);
}

.socila-list a:hover {
  filter: drop-shadow(0px 0px 2px #804efd) brightness(1);
}

.channel-list img:hover {
  box-shadow: 0 0 0 2px #9572fc;
}

.games-list img:hover {
  box-shadow: -2px 2px 0 0 #9572fc;
  transform: scale(1.08);
}

/* animation */

header div {
  animation: fromtop 0.9s 0.1s backwards;
}

main section{
  animation: fomBottom 0.9s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}
main section:nth-child(2) {
  animation-delay: .2s;
}
main section:nth-child(3) {
  animation-delay: .6s;
}

@keyframes fromtop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fomBottom {
  from {
    opacity: 0;
    transform: translateX(80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
